---
---
@import "{{ site.theme }}";

/* Ajuste para telas de computador (Desktop) */
@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1080px; /* Isso expande a largura total do site no PC */
    margin: 0 auto;
  }

  section {
    width: 72%; /* Aumenta a área do texto e códigos */
    float: right;
  }

  header {
    width: 23%; /* Ajusta a largura da barra lateral do professor */
    float: left;
  }
}

/* Garante que o código Java não "esprema" e use o espaço novo */
pre, code {
  word-wrap: normal;
  white-space: pre; /* Mantém a formatação do Java original */
  overflow-x: auto; /* Adiciona rolagem apenas se o código for MUITO longo */
}
